* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ============= common ============== */
.container {
  width: 1170px;
  max-width: calc(
    100% - 24px
  ); /*để khi co lại, nội dung ko bị sát 2 lề, nội dung ko bị khuất, responsive*/
  /* để căn giữa container */
  margin: 0 auto;
}

a {
  text-decoration: none; /*bỏ gạch chân*/
}

.btn {
  display: inline-block; /*vì thẻ a mặc định là thẻ inline*/
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center; /*để căn giữa văn bản, ko căn giữa item*/
  font-size: 1.8rem;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
}

/* ============= header ============== */
.header {
  background: var(--header-bg);
  min-height: 100vh;
  /* Thiết lập chiều cao tối thiểu là 100% chiều cao khung nhìn trình duyệt (viewport height), 100vh = 100% chiều cao màn hình thiết bị hiện tại */
  padding-top: 30px;
}

.header .header-top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  align-items: center;
}

.header .navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  padding: 8px 21px;
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--active::before {
  content: "";
  display: inline-block; /*vì thẻ a mặc định là thẻ inline*/
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  right: 8px;
  top: -3px;
}

.header__action--signup {
  font-size: 1.6rem;
  line-height: 44px;
  min-width: 144px;
}

.header__action--login {
  margin-right: 7px;
}

/* ============= hero ============== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}

.hero__content {
  width: 44%;
}

.hero__media {
  flex: 1; /*chiếm hết khoảng không gian còn lại*/
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.hero__row {
  margin-top: 38px;
  display: flex; /*để xài đc align item*/
  align-items: center; /*để bỏ khoảng cách nhỏ xíu giữa book online với or call, để mà xài đc column-gap*/
  column-gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*
justify-content: căn chỉnh cả nhóm item theo chiều ngang
justify-items: căn chỉnh NỘI DUNG từng item con theo chiều ngang
align-content: căn chỉnh nhóm dòng theo chiều dọc
align-items: căn chỉnh từng item theo chiều dọc
*/

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img-large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1; /*xếp chồng layer*/
}

.hero__img-small {
  width: 210px;
  height: 410px;
}
